<form class="form-horizontal" method="POST" action="{{ url_for('main') }}">
    <fieldset>
        <legend>Setup</legend>
        <div class="form-group">
            <label for="setupData" class="col-lg-2 control-label">Choose data</label>
            <div class="col-lg-6">
                <select class="form-control" id="setupData" name="setupData">
                    <option value="">Choose data...</option>
                    {% for data in choose_data %}
                        <option value="{{ data }}">{{ data }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <!-- <button type="reset" class="btn btn-default">Cancel</button> -->
                <button type="submit" class="btn btn-primary">Choose data</button>
            </div>
        </div>
    </fieldset>
</form>
