{% include 'header.html' %}
    <div class="container" role="main">
        <div class="row">
            {% if comparing %}
                {% for view_image in compared_pngs %}
                    <div class="col-md-5">
                        <img class="hotspot" src="{{ url_for('static', filename='maps/' + view_image + '/' + view_image + '_gi.png') }}{{ time | e }}">
                    </div>
                    <div class="col-md-1"></div>
                {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="hotspot" src="{{ url_for('static', filename='compare/compare.png') }}{{ time | e }}">
            </div>
            <div class="col-md-5 col-md-offset-1">

                {% include 'tables/jaccard_table.html' %}

                <h4>Misc data</h4>
                <p>Overall identical percentage: {{ percent }}%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="hotspot" src="{{ url_for('static', filename='compare/compare-left.png') }}{{ time | e }}">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img class="hotspot" src="{{ url_for('static', filename='compare/compare-right.png') }}{{ time | e }}">
            </div>
            <div class="col-md-1"></div>
        </div>
            {% else %}
                <div class="col-md-1 col-md-offset-1"></div>
                {% include 'forms/compareForm.html' %}
        </div>
        {% endif %}

    </div>
    {% if error %}
        <div class="error well"><h2>{{ error }}</h2></div>
    {% endif %}
{% include 'footer.html' %}
