{% include 'header.html' %}
    <div class="container-fluid" role="main">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->

            {% for image in hotspots %}
            <div class="col-md-3 col-md-offset-1">
                <img class="hotspot" src="{{ url_for('static', filename='maps/' + folder + '/' + image) }}">
            </div>
            <div class="col-md-1"></div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% include 'tables/getis_table.html' %}
            </div>
        </div>
    </div>
{% include 'footer.html' %}
