{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Create hotspot heatmap</h1>
    </div>
    <div class="container-fluid">
        {% if choose_data %}
            {% include 'forms/choose_data_file.html' %}

        {% elif choose_filter %}
            {% include 'forms/choose_filter.html' %}

        {% else %}
        <form class="form-horizontal" method="POST" action="{{ url_for('hotspot') }}">
            <fieldset>
                <legend>Setup</legend>
                {% include 'forms/chosen_data_file.html' %}

                {% if chose_filter %}
                <div class="form-group">
                    <label for="datachosen" class="col-lg-2 control-label">Filter on column</label>
                    <div class="col-lg-6">
                        <input class="form-control" readonly="readonly" id="filtercolumn" value="{{ setup.filter.column }}" name="filtercolumn">
                    </div>
                </div>

                <div class="form-group">
                    <label for="setupFilter" class="col-lg-2 control-label">Choose a {{setup.filter.column}}</label>
                    <div class="col-lg-6">
                        <select class="form-control" id="setupFilter" name="setupFilter">
                            <option value="all">All {{setup.filter.column}}</option>
                            {% for data in setup['filter']['values'] %}
                                <option value="{{ data }}">{{ data }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="setupXticks" class="col-lg-2 control-label">Choose x-ticks</label>
                    <div class="col-lg-6">
                        <select class="form-control" id="setupXticks" name="setupXticks">
                            <option value="">Choose x-ticks...</option>
                            {% for tick in setup.x_ticks %}
                                <option value="{{ tick }}">{{ tick }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="setupYticks" class="col-lg-2 control-label">Choose y-ticks</label>
                    <div class="col-lg-6">
                        <select class="form-control" id="setupYticks" name="setupYticks">
                            <option value="">Choose y-ticks...</option>
                            {% for tick in setup.y_ticks %}
                                <option value="{{ tick }}">{{ tick }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="setupConfidenceLevel" class="col-lg-2 control-label">Choose p-value</label>
                    <div class="col-lg-6">
                        <select class="form-control" id="setupConfidenceLevel" name="setupConfidenceLevel">
                            <option value="">All</option>
                            <option value="0.10">0.10 (90%)</option>
                            <option value="0.05">0.05 (95%)</option>
                            <option value="0.01">0.01 (99%)</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="setupTitle" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="setupTitle" name="setupTitle" placeholder="Title">
                    </div>
                </div>

                <div class="form-group">
                    <label for="setupFilename" class="col-lg-2 control-label">Save map as: (.png)</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="setupFilename" name="setupFilename" placeholder="Filename)">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="savecsv" value="yes"> Save as .csv
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create Hotspot</button>
                    </div>
                </div>
            </fieldset>
        </form>
        {% endif %}

        {% if error %}
            <div class="error well"><h2>{{ error }}</h2></div>
        {% endif %}
    </div>
</div>

{% include 'footer.html' %}
