{% include 'header.html' %}
    <div class="container-fluid" role="main">
        <div class="row">
            <div class="col-md-2 high right">
                <div class="col-lg-3">
                    {% for image in created %}
                        <a href="{{ url_for('show') }}{{ image }}">{{ image }}</a><br>
                    {% endfor %}
                </div>
            </div>
            <!-- <div class="row"> -->
            {% for view_image in view_hotspots %}
                <div class="col-md-5 ">
                    <img class="hotspot" src="{{ url_for('static', filename='maps/' + folder + '/' + view_image) }}">
                </div>
            {% endfor %}
            <!-- </div> -->
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if view_hotspots|length > 0 %}
                    {% include 'created/' + folder + '/getis_table.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% include 'footer.html' %}
