<table class="table table-striped">
    <thead>
        <tr>
            <th>Confidence level</th>
            <th>p-value</th>
            <th>z-score range</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>0.90%</td><td>0.10</td><td>-3.899877993363244 < Z < 3.9002351362203855</td></tr>
        <tr><td>0.95%</td><td>0.05</td><td>-4.6470254590164295 < Z < 4.647382601873572</td></tr>
        <tr><td>0.99%</td><td>0.01</td><td>-6.1072827980719975 < Z < 6.10763994092914</td></tr>
    </tbody>
</table>
    