html {
    overflow-y: scroll;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.hotspot {
    display: inline-block;
    margin-bottom: 50px;
    float: left;
}

.error {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

label {
    font-size: 1.15em !important;
}

/*input[type="checkbox"] {
    position: inherit !important;
}*/


.high {
    /*position: absolute;
    min-height: 100%;*/
    /*height: 100%;*/
}
