html {
    overflow-y: scroll;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.hotspot {
    /*display: inline-block;*/
    margin-bottom: 20px;
    width: 450px;
}

.error {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* .drag_base {
    outline: 1px dotted black;
    height: 500px;
    width: 500px;
}

.drag_img {
    height: 500px;
    width: 500px;
} */

label {
    font-size: 1.15em !important;
}
